{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget.html.twig' %}
        {% block buy_widget_ordernumber_container %}
            {{ parent() }}
            {% if page.product.translated.customFields.custom_tx_old_artnr %}
                <div class="product-detail-ordernumber-container">
                        <span class="product-detail-ordernumber-label">
                            {{ "detail.productNumberOldLabel"|trans|sw_sanitize }}
                        </span>

                    <span class="product-detail-ordernumber">
                            {{ page.product.translated.customFields.custom_tx_old_artnr }}
                        </span>
                </div>
            {% endif %}
        {% endblock %}
