<div class="container">
    <div class="top-bar d-none d-lg-block">
        <nav class="top-bar-nav">




        </nav>
    </div>

    <div class="row align-items-center header-row">
        <div class="col-12 col-lg-auto header-logo-col">
            <div class="header-logo-main">
                <a class="header-logo-main-link" href="/" title="Zur Startseite wechseln">
                    <picture class="header-logo-picture">


                        <img src="http://localhost:81/media/1a/ff/b0/1669837925/logo.png" alt="Zur Startseite wechseln" class="img-fluid header-logo-main-img">
                    </picture>
                </a>
            </div>
        </div>


        <div class="col-12 order-1 col-sm-auto order-sm-2 header-actions-col">
            <div class="row no-gutters">
                <div class="col d-sm-none">
                    <div class="menu-button">
                        <button class="btn nav-main-toggle-btn header-actions-btn" type="button" data-offcanvas-menu="true" aria-label="Menü">
                                                                                            <span class="icon icon-stack">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><defs><path d="M3 13c-.5523 0-1-.4477-1-1s.4477-1 1-1h18c.5523 0 1 .4477 1 1s-.4477 1-1 1H3zm0-7c-.5523 0-1-.4477-1-1s.4477-1 1-1h18c.5523 0 1 .4477 1 1s-.4477 1-1 1H3zm0 14c-.5523 0-1-.4477-1-1s.4477-1 1-1h18c.5523 0 1 .4477 1 1s-.4477 1-1 1H3z" id="icons-default-stack"></path></defs><use xlink:href="#icons-default-stack" fill="#758CA3" fill-rule="evenodd"></use></svg>
        </span>                                                                                    </button>
                    </div>
                </div>

                <div class="col-auto d-sm-none">
                    <div class="search-toggle">
                        <button class="btn header-actions-btn search-toggle-btn js-search-toggle-btn collapsed" type="button" data-toggle="collapse" data-target="#searchCollapse" aria-expanded="false" aria-controls="searchCollapse" aria-label="Suchen">
                                        <span class="icon icon-search">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><defs><path d="M10.0944 16.3199 4.707 21.707c-.3905.3905-1.0237.3905-1.4142 0-.3905-.3905-.3905-1.0237 0-1.4142L8.68 14.9056C7.6271 13.551 7 11.8487 7 10c0-4.4183 3.5817-8 8-8s8 3.5817 8 8-3.5817 8-8 8c-1.8487 0-3.551-.627-4.9056-1.6801zM15 16c3.3137 0 6-2.6863 6-6s-2.6863-6-6-6-6 2.6863-6 6 2.6863 6 6 6z" id="icons-default-search"></path></defs><use xlink:href="#icons-default-search" fill="#758CA3" fill-rule="evenodd"></use></svg>
        </span>                                    </button>
                    </div>
                </div>


                <div class="col-auto">
                    <div class="account-menu">
                        <div class="dropdown">
                            <button class="btn account-menu-btn header-actions-btn" type="button" id="accountWidget" data-offcanvas-account-menu="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Mein Konto" title="Mein Konto">
                <span class="icon icon-avatar">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><defs><path d="M12 3C9.7909 3 8 4.7909 8 7c0 2.2091 1.7909 4 4 4 2.2091 0 4-1.7909 4-4 0-2.2091-1.7909-4-4-4zm0-2c3.3137 0 6 2.6863 6 6s-2.6863 6-6 6-6-2.6863-6-6 2.6863-6 6-6zM4 22.099c0 .5523-.4477 1-1 1s-1-.4477-1-1V20c0-2.7614 2.2386-5 5-5h10.0007c2.7614 0 5 2.2386 5 5v2.099c0 .5523-.4477 1-1 1s-1-.4477-1-1V20c0-1.6569-1.3431-3-3-3H7c-1.6569 0-3 1.3431-3 3v2.099z" id="icons-default-avatar"></path></defs><use xlink:href="#icons-default-avatar" fill="#758CA3" fill-rule="evenodd"></use></svg>
        </span>            </button>

                            <div class="dropdown-menu dropdown-menu-right account-menu-dropdown js-account-menu-dropdown" aria-labelledby="accountWidget">



                                <button class="btn btn-light offcanvas-close js-offcanvas-close btn-block sticky-top">
                                                    <span class="icon icon-x icon-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><defs><path d="m10.5858 12-7.293-7.2929c-.3904-.3905-.3904-1.0237 0-1.4142.3906-.3905 1.0238-.3905 1.4143 0L12 10.5858l7.2929-7.293c.3905-.3904 1.0237-.3904 1.4142 0 .3905.3906.3905 1.0238 0 1.4143L13.4142 12l7.293 7.2929c.3904.3905.3904 1.0237 0 1.4142-.3906.3905-1.0238.3905-1.4143 0L12 13.4142l-7.2929 7.293c-.3905.3904-1.0237.3904-1.4142 0-.3905-.3906-.3905-1.0238 0-1.4143L10.5858 12z" id="icons-default-x"></path></defs><use xlink:href="#icons-default-x" fill="#758CA3" fill-rule="evenodd"></use></svg>
        </span>
                                    Menü schließen
                                </button>


                                <div class="offcanvas-content-container">
                                    <div class="account-menu">
                                        <div class="dropdown-header account-menu-header">
                                            Mein Konto
                                        </div>

                                        <div class="account-menu-login">
                                            <a href="/account/login" title="Anmelden" class="btn btn-primary account-menu-login-button">
                                                Anmelden
                                            </a>

                                            <div class="account-menu-register">
                                                oder <a href="/account/login" title="registrieren">registrieren</a>
                                            </div>
                                        </div>

                                        <div class="account-menu-links">
                                            <div class="header-account-menu">
                                                <div class="card account-menu-inner">

                                                    <div class="list-group list-group-flush account-aside-list-group">
                                                        <a href="/account" title="Übersicht" class="list-group-item list-group-item-action account-aside-item">
                                                            Übersicht
                                                        </a>

                                                        <a href="/account/profile" title="Persönliches Profil" class="list-group-item list-group-item-action account-aside-item">
                                                            Persönliches Profil
                                                        </a>

                                                        <a href="/account/address" title="Adressen" class="list-group-item list-group-item-action account-aside-item">
                                                            Adressen
                                                        </a>

                                                        <a href="/account/payment" title="Zahlungsarten" class="list-group-item list-group-item-action account-aside-item">
                                                            Zahlungsarten
                                                        </a>

                                                        <a href="/account/order" title="Bestellungen" class="list-group-item list-group-item-action account-aside-item">
                                                            Bestellungen
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="header-cart" data-offcanvas-cart="true">
                        <a class="btn header-cart-btn header-actions-btn" href="/checkout/cart" data-cart-widget="true" title="Warenkorb" aria-label="Warenkorb">    <span class="header-cart-icon">
        <span class="icon icon-bag">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><defs><path d="M5.892 3c.5523 0 1 .4477 1 1s-.4477 1-1 1H3.7895a1 1 0 0 0-.9986.9475l-.7895 15c-.029.5515.3946 1.0221.9987 1.0525h17.8102c.5523 0 1-.4477.9986-1.0525l-.7895-15A1 1 0 0 0 20.0208 5H17.892c-.5523 0-1-.4477-1-1s.4477-1 1-1h2.1288c1.5956 0 2.912 1.249 2.9959 2.8423l.7894 15c.0035.0788.0035.0788.0042.1577 0 1.6569-1.3432 3-3 3H3c-.079-.0007-.079-.0007-.1577-.0041-1.6546-.0871-2.9253-1.499-2.8382-3.1536l.7895-15C.8775 4.249 2.1939 3 3.7895 3H5.892zm4 2c0 .5523-.4477 1-1 1s-1-.4477-1-1V3c0-1.6569 1.3432-3 3-3h2c1.6569 0 3 1.3431 3 3v2c0 .5523-.4477 1-1 1s-1-.4477-1-1V3c0-.5523-.4477-1-1-1h-2c-.5523 0-1 .4477-1 1v2z" id="icons-default-bag"></path></defs><use xlink:href="#icons-default-bag" fill="#758CA3" fill-rule="evenodd"></use></svg>
        </span>    </span>
                            <span class="header-cart-total">
        0,00&nbsp;€*
    </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>