{% block telexroll_footer_social_link %}
    <div class="telexroll-footer-social-link">
        <div class="container">
            <div class="cms-block cms-block-form">
                <div class="container">

                    <div class="cms-block cms-block-form">
                        <div class="footer-social">
                            <a href="https://www.linkedin.com/company/telexroll" class="footer-social-button" target="_blank" rel="noopener" aria-label="LinkedIn Page" title="LinkedIn">
                                <i aria-hidden="true" aria-label="LinkedIn Page" class="lab la-linkedin"></i>
                            </a>
                            <a href="https://www.xing.com/companies/telexrollhandelsgmbh" class="footer-social-button" target="_blank" rel="noopener" aria-label="Xing Page" title="Xing">
                                <i aria-hidden="true" aria-label="Xing Page" class="lab la-xing"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}