{% block telexroll_footer_banner %}
    <div class="telexroll-footer-banner-container">
        <div class="container">
            <div class="cms-block cms-block-form">
                <div class="container">
                    <div class="row rhweb-logo-row">
                        <div class="col-sm-6 col-md-3 mt-3">
                            <div class="logo-container">
                                <div class="footer-logo">
                                    <a href="https://www.telexroll.com/" class="cms-image-link" target="_blank" rel="noopener">
                                    <img src="{{ asset('bundles/telexroll/assets/illustration/telexroll-logo.svg') }}"
                                         alt="Telexroll Handels GmbH"
                                         class="rounded mx-auto d-block w-75"/>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 mt-3">
                            <div class="logo-container">
                                <div class="footer-logo">
                                    <a href="https://www.telexroll.com/de/brand/primisso/" class="cms-image-link" target="_blank" rel="noopener">
                                    <img src="{{ asset('bundles/telexroll/assets/logo/primisso-logo.png') }}"
                                         alt="Primisso"
                                         class="rounded mx-auto d-block w-75"/>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 mt-3">
                            <div class="logo-container">
                                <div class="footer-logo">
                                    <a href="https://www.telexroll.com/de/cloud/" class="cms-image-link" target="_blank" rel="noopener">
                                        <img src="{{ asset('bundles/telexroll/assets/logo/team-cloud-logo.png') }}"
                                             alt="Team Cloud"
                                             class="rounded mx-auto d-block w-75"/>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 mt-3">
                            <div class="logo-container">
                                <div class="footer-logo">
                                    <a href="https://www.telexroll.com/de/cloud/microsoft/office365/" class="cms-image-link" target="_blank" rel="noopener">
                                        <img src="{{ asset('bundles/telexroll/assets/logo/office365.png') }}"
                                             alt="Microsoft Office 365"
                                             class="rounded mx-auto d-block w-75"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
