/*
Product box
==============================================
Styling for productbox component.
*/


.product-box {
  //  border: unset;
}

.product-name {
    font-size: 12px;
}

.product-description {
    font-size: 12px;
}

.product-variant-characteristics {
    min-height: unset;
}